/* Containers */

body {
    font-family: 'Montserrat', sans-serif;
}

.container-title {
    padding: 3% 15%;
}

.container-features {
    padding: 7% 5%;
}

.container-testimonials {
    padding: 7% 10%;
}


/* Nav Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}


/* Elements */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.3rem;
    font-weight: 900;
    line-height: 1.5;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    color: #8f8f8f;
}


/* Title */

#title {
    background-color: #ff4c68;
    color: #fff;
}

.img-title {
    width: 60%;
    margin-left: 10%;
    transform: rotate(25deg);
}

.btn-download {
    margin: 5% 3% 5% 0;
}


/* Features */

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}


/* Testimonials */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.img-testimonial {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
} 


/* Press */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.img-press {
    width: 15%;
    margin: 20px 20px 50px;
}