/* Containers */

.container-title {
    padding: 3% 15% 7%;
}

.container-features {
    padding: 7% 5%;
}

.container-cta {
    padding: 7% 15%;
}

.container-footer {
    padding: 7% 15%;
}


/* Sections */

.section-color {
    background-color: #ff4c68;
    color: #fff;
}

.section-white {
    background-color: #fff;
}


/* Nav Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}


/* Elements */

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

p {
    color: #8f8f8f;
}


/* Headings */
.heading-lg {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

.heading-section {
    font-size: 3rem;
    line-height: 1.5;
}


/* Title */

#title {
    text-align: left;
}

.div-iphone {
    position: relative;
}

.img-iphone {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

.btn-download {
    margin: 5% 3% 5% 0;
}


/* Features */

#features {
    position: relative;
}

.feature-box {
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

.h3-features {
    font-size: 1.5rem;
}


/* Testimonials */

#testimonials {
    background-color: #ef8172;
}

.img-testimonial {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

.h2-testimonial {
    font-size: 3rem;
    line-height: 1.5;
}


/* Press */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.img-press {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing */

#pricing {
    padding: 5%;
}

.col-pricing {
    padding: 3% 2%;
}

.h2-price {
    font-size: 3rem;
    line-height: 1.5;
}


/* Footer */

.social-icon {
    margin: 20px 10px;
}


/* Media Queries */

@media (max-width: 991px) {
    #title {
        text-align: center;
    }

    .img-iphone {
        position: static;
        transform: rotate(0);
    }
}